.name-box {
    border: 2px solid black;
    height: 88px;
    margin-top: 60px;
    background-image: linear-gradient(180deg,#f5d337 0,#fff889);
}

.name-box.left {
    width: 405px;
    display: inline-flex;
}

.name-box.right {
    display: inline-flex;
    width: 415px;
    margin-left: -37px;
}

.name-box.left h1{
    text-align: left;
    padding-top: 11px;
}
.name-box.right h1{
    text-align: right;
    padding-top: 11px;
    padding-left: 57px;
}

.name-box.left img {
    position: relative;
    /* padding-left: 176px; */
    /* margin-left: 123px; */
    float: right;
    margin-left: 62px;
}

.name-box.right img {
    margin-left: 12px;
}

.name-box img {
    height: 82px;
    border-radius: 100%;
}

.sword img {
    height: 88px;
    margin-top: 82px;
}
