.fortnite-stats li {
    list-style: none;
    display: inline-block;
    padding-left: 15px;
}

label h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(180deg, #f5d337 0, #fff889);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stats {
    background: -webkit-linear-gradient(180deg, #f5d337 0, #fff889);
    width: 50%;
    margin-top: 13px;
}

.stats li {
    font-weight: 700;
}

.stats.left {
    margin-left: 65px;
}

.stats.right {
    margin-left: 233px;
}