body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./903573.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
